/*
Theme Name: Hello Sakataifield
Template: hello-elementor
Version: 1.0.1
Child Version: 1.0.1
Text Domain: hello-sakataifield
*/
.popover {
  position: absolute;
  top: 0;
  left: 0 /* rtl:ignore */;
  z-index: 1070;
  display: block;
  max-width: 276px;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
.popover .popover-arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
}
.popover .popover-arrow::before, .popover .popover-arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-popover-top > .popover-arrow, .bs-popover-auto[data-popper-placement^=top] > .popover-arrow {
  bottom: calc(-0.5rem - 1px);
}
.bs-popover-top > .popover-arrow::before, .bs-popover-auto[data-popper-placement^=top] > .popover-arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-top > .popover-arrow::after, .bs-popover-auto[data-popper-placement^=top] > .popover-arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #fff;
}

.bs-popover-end > .popover-arrow, .bs-popover-auto[data-popper-placement^=right] > .popover-arrow {
  left: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
}
.bs-popover-end > .popover-arrow::before, .bs-popover-auto[data-popper-placement^=right] > .popover-arrow::before {
  left: 0;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-end > .popover-arrow::after, .bs-popover-auto[data-popper-placement^=right] > .popover-arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #fff;
}

.bs-popover-bottom > .popover-arrow, .bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow {
  top: calc(-0.5rem - 1px);
}
.bs-popover-bottom > .popover-arrow::before, .bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow::before {
  top: 0;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-bottom > .popover-arrow::after, .bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
}
.bs-popover-bottom .popover-header::before, .bs-popover-auto[data-popper-placement^=bottom] .popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: -0.5rem;
  content: "";
  border-bottom: 1px solid #f0f0f0;
}

.bs-popover-start > .popover-arrow, .bs-popover-auto[data-popper-placement^=left] > .popover-arrow {
  right: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
}
.bs-popover-start > .popover-arrow::before, .bs-popover-auto[data-popper-placement^=left] > .popover-arrow::before {
  right: 0;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-start > .popover-arrow::after, .bs-popover-auto[data-popper-placement^=left] > .popover-arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #fff;
}

.popover-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.popover-header:empty {
  display: none;
}

.popover-body {
  padding: 1rem 1rem;
  color: #212529;
}

body {
  font-family: Montserrat, sans-serif;
  line-height: 1.4375;
  color: #000;
}

a {
  color: #824c0d;
  text-decoration: none;
}
a:hover {
  color: #683d0a;
  text-decoration: underline;
}
.menu a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.optional {
  font-weight: 300;
  font-style: italic;
}

select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-family: monospace;
  font-size: 1rem;
  color: #824c0d;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23824c0d' stroke-width='2' d='M2.343 5.343 8 11l5.657-5.657'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 16px;
  border-color: #824c0d;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  letter-spacing: -0.019em;
}
@media (prefers-reduced-motion: reduce) {
  select {
    transition: none;
  }
}
select:focus {
  border-color: #c1a686;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(130, 76, 13, 0.25);
}
select[multiple], select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
select:disabled {
  background-color: #e9ecef;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

input[type=text],
input[type=email],
input[type=tel] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375;
  color: #824c0d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #824c0d;
  appearance: none;
  box-shadow: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  input[type=text],
input[type=email],
input[type=tel] {
    transition: none;
  }
}
input[type=text][type=file],
input[type=email][type=file],
input[type=tel][type=file] {
  overflow: hidden;
}
input[type=text][type=file]:not(:disabled):not([readonly]),
input[type=email][type=file]:not(:disabled):not([readonly]),
input[type=tel][type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
  color: #824c0d;
  background-color: #fff;
  border-color: rgba(130, 76, 13, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(130, 76, 13, 0.25);
}
input[type=text]::-webkit-date-and-time-value,
input[type=email]::-webkit-date-and-time-value,
input[type=tel]::-webkit-date-and-time-value {
  height: 1.5em;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder {
  color: #6c757d;
  opacity: 1;
}
input[type=text]:disabled, input[type=text][readonly],
input[type=email]:disabled,
input[type=email][readonly],
input[type=tel]:disabled,
input[type=tel][readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
input[type=text]::file-selector-button,
input[type=email]::file-selector-button,
input[type=tel]::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  input[type=text]::file-selector-button,
input[type=email]::file-selector-button,
input[type=tel]::file-selector-button {
    transition: none;
  }
}
input[type=text]:hover:not(:disabled):not([readonly])::file-selector-button,
input[type=email]:hover:not(:disabled):not([readonly])::file-selector-button,
input[type=tel]:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}
input[type=text]::-webkit-file-upload-button,
input[type=email]::-webkit-file-upload-button,
input[type=tel]::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  input[type=text]::-webkit-file-upload-button,
input[type=email]::-webkit-file-upload-button,
input[type=tel]::-webkit-file-upload-button {
    transition: none;
  }
}
input[type=text]:hover:not(:disabled):not([readonly])::-webkit-file-upload-button,
input[type=email]:hover:not(:disabled):not([readonly])::-webkit-file-upload-button,
input[type=tel]:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1.3125em;
  height: 1.3125em;
  margin-top: 0.09375em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid #824c0d;
  appearance: none;
  color-adjust: exact;
}
.form-check-input[type=checkbox] {
  border-radius: 0.0625em;
}
.form-check-input[type=radio] {
  border-radius: 50%;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #c1a686;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(130, 76, 13, 0.25);
}
.form-check-input:checked {
  background-color: #824c0d;
  border-color: #824c0d;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox]:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within),
.page-template-template-onlycontent h1 {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

button,
input[type=button],
input[type=reset],
input[type=submit],
.button,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.added_to_cart {
  display: inline-block;
  font-family: monospace;
  font-weight: 700;
  line-height: 1.4375;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  letter-spacing: -0.019em;
  color: #000;
  background-color: #e6dbcf;
  border-color: #824c0d;
  color: #824c0d;
}
@media (prefers-reduced-motion: reduce) {
  button,
input[type=button],
input[type=reset],
input[type=submit],
.button,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.added_to_cart {
    transition: none;
  }
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button:hover,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:hover,
.added_to_cart:hover {
  color: #000;
  background-color: #eae0d6;
  border-color: #8f5e25;
}
.btn-check:focus + button, button:focus,
.btn-check:focus + input[type=button],
input[type=button]:focus,
.btn-check:focus + input[type=reset],
input[type=reset]:focus,
.btn-check:focus + input[type=submit],
input[type=submit]:focus,
.btn-check:focus + .button,
.button:focus,
.btn-check:focus + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:focus,
.btn-check:focus + .added_to_cart,
.added_to_cart:focus {
  color: #000;
  background-color: #eae0d6;
  border-color: #8f5e25;
  box-shadow: 0 0 0 0.25rem rgba(111, 65, 11, 0.5);
}
.btn-check:checked + button, .btn-check:active + button, button:active, button.active, .show > button.dropdown-toggle,
.btn-check:checked + input[type=button],
.btn-check:active + input[type=button],
input[type=button]:active,
input[type=button].active,
.show > input[type=button].dropdown-toggle,
.btn-check:checked + input[type=reset],
.btn-check:active + input[type=reset],
input[type=reset]:active,
input[type=reset].active,
.show > input[type=reset].dropdown-toggle,
.btn-check:checked + input[type=submit],
.btn-check:active + input[type=submit],
input[type=submit]:active,
input[type=submit].active,
.show > input[type=submit].dropdown-toggle,
.btn-check:checked + .button,
.btn-check:active + .button,
.button:active,
.button.active,
.show > .button.dropdown-toggle,
.btn-check:checked + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.btn-check:active + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:active,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.active,
.show > .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.dropdown-toggle,
.btn-check:checked + .added_to_cart,
.btn-check:active + .added_to_cart,
.added_to_cart:active,
.added_to_cart.active,
.show > .added_to_cart.dropdown-toggle {
  color: #000;
  background-color: #ebe2d9;
  border-color: #8f5e25;
}
.btn-check:checked + button:focus, .btn-check:active + button:focus, button:active:focus, button.active:focus, .show > button.dropdown-toggle:focus,
.btn-check:checked + input[type=button]:focus,
.btn-check:active + input[type=button]:focus,
input[type=button]:active:focus,
input[type=button].active:focus,
.show > input[type=button].dropdown-toggle:focus,
.btn-check:checked + input[type=reset]:focus,
.btn-check:active + input[type=reset]:focus,
input[type=reset]:active:focus,
input[type=reset].active:focus,
.show > input[type=reset].dropdown-toggle:focus,
.btn-check:checked + input[type=submit]:focus,
.btn-check:active + input[type=submit]:focus,
input[type=submit]:active:focus,
input[type=submit].active:focus,
.show > input[type=submit].dropdown-toggle:focus,
.btn-check:checked + .button:focus,
.btn-check:active + .button:focus,
.button:active:focus,
.button.active:focus,
.show > .button.dropdown-toggle:focus,
.btn-check:checked + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:focus,
.btn-check:active + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:focus,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:active:focus,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.active:focus,
.show > .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.dropdown-toggle:focus,
.btn-check:checked + .added_to_cart:focus,
.btn-check:active + .added_to_cart:focus,
.added_to_cart:active:focus,
.added_to_cart.active:focus,
.show > .added_to_cart.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(111, 65, 11, 0.5);
}
button:disabled, button.disabled,
input[type=button]:disabled,
input[type=button].disabled,
input[type=reset]:disabled,
input[type=reset].disabled,
input[type=submit]:disabled,
input[type=submit].disabled,
.button:disabled,
.button.disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.disabled,
.added_to_cart:disabled,
.added_to_cart.disabled {
  color: #000;
  background-color: #e6dbcf;
  border-color: #824c0d;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button:hover,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:hover,
.added_to_cart:hover {
  color: #824c0d;
}
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
.button:focus,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:focus,
.added_to_cart:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
button:disabled, button.disabled, fieldset:disabled button,
input[type=button]:disabled,
input[type=button].disabled,
fieldset:disabled input[type=button],
input[type=reset]:disabled,
input[type=reset].disabled,
fieldset:disabled input[type=reset],
input[type=submit]:disabled,
input[type=submit].disabled,
fieldset:disabled input[type=submit],
.button:disabled,
.button.disabled,
fieldset:disabled .button,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.disabled,
fieldset:disabled .wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.added_to_cart:disabled,
.added_to_cart.disabled,
fieldset:disabled .added_to_cart {
  pointer-events: none;
  opacity: 0.65;
}
button.cta, button.alt,
input[type=button].cta,
input[type=button].alt,
input[type=reset].cta,
input[type=reset].alt,
input[type=submit].cta,
input[type=submit].alt,
.button.cta,
.button.alt,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt,
.added_to_cart.cta,
.added_to_cart.alt {
  color: #fff;
  background-color: #824c0d;
  border-color: #824c0d;
}
button.cta:hover, button.alt:hover,
input[type=button].cta:hover,
input[type=button].alt:hover,
input[type=reset].cta:hover,
input[type=reset].alt:hover,
input[type=submit].cta:hover,
input[type=submit].alt:hover,
.button.cta:hover,
.button.alt:hover,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta:hover,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt:hover,
.added_to_cart.cta:hover,
.added_to_cart.alt:hover {
  color: #fff;
  background-color: #6f410b;
  border-color: #683d0a;
}
.btn-check:focus + button.cta, button.cta:focus, .btn-check:focus + button.alt, button.alt:focus,
.btn-check:focus + input[type=button].cta,
input[type=button].cta:focus,
.btn-check:focus + input[type=button].alt,
input[type=button].alt:focus,
.btn-check:focus + input[type=reset].cta,
input[type=reset].cta:focus,
.btn-check:focus + input[type=reset].alt,
input[type=reset].alt:focus,
.btn-check:focus + input[type=submit].cta,
input[type=submit].cta:focus,
.btn-check:focus + input[type=submit].alt,
input[type=submit].alt:focus,
.btn-check:focus + .button.cta,
.button.cta:focus,
.btn-check:focus + .button.alt,
.button.alt:focus,
.btn-check:focus + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta:focus,
.btn-check:focus + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt:focus,
.btn-check:focus + .added_to_cart.cta,
.added_to_cart.cta:focus,
.btn-check:focus + .added_to_cart.alt,
.added_to_cart.alt:focus {
  color: #fff;
  background-color: #6f410b;
  border-color: #683d0a;
  box-shadow: 0 0 0 0.25rem rgba(149, 103, 49, 0.5);
}
.btn-check:checked + button.cta, .btn-check:active + button.cta, button.cta:active, button.cta.active, .show > button.cta.dropdown-toggle, .btn-check:checked + button.alt, .btn-check:active + button.alt, button.alt:active, button.alt.active, .show > button.alt.dropdown-toggle,
.btn-check:checked + input[type=button].cta,
.btn-check:active + input[type=button].cta,
input[type=button].cta:active,
input[type=button].cta.active,
.show > input[type=button].cta.dropdown-toggle,
.btn-check:checked + input[type=button].alt,
.btn-check:active + input[type=button].alt,
input[type=button].alt:active,
input[type=button].alt.active,
.show > input[type=button].alt.dropdown-toggle,
.btn-check:checked + input[type=reset].cta,
.btn-check:active + input[type=reset].cta,
input[type=reset].cta:active,
input[type=reset].cta.active,
.show > input[type=reset].cta.dropdown-toggle,
.btn-check:checked + input[type=reset].alt,
.btn-check:active + input[type=reset].alt,
input[type=reset].alt:active,
input[type=reset].alt.active,
.show > input[type=reset].alt.dropdown-toggle,
.btn-check:checked + input[type=submit].cta,
.btn-check:active + input[type=submit].cta,
input[type=submit].cta:active,
input[type=submit].cta.active,
.show > input[type=submit].cta.dropdown-toggle,
.btn-check:checked + input[type=submit].alt,
.btn-check:active + input[type=submit].alt,
input[type=submit].alt:active,
input[type=submit].alt.active,
.show > input[type=submit].alt.dropdown-toggle,
.btn-check:checked + .button.cta,
.btn-check:active + .button.cta,
.button.cta:active,
.button.cta.active,
.show > .button.cta.dropdown-toggle,
.btn-check:checked + .button.alt,
.btn-check:active + .button.alt,
.button.alt:active,
.button.alt.active,
.show > .button.alt.dropdown-toggle,
.btn-check:checked + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta,
.btn-check:active + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta:active,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta.active,
.show > .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta.dropdown-toggle,
.btn-check:checked + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt,
.btn-check:active + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt:active,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt.active,
.show > .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt.dropdown-toggle,
.btn-check:checked + .added_to_cart.cta,
.btn-check:active + .added_to_cart.cta,
.added_to_cart.cta:active,
.added_to_cart.cta.active,
.show > .added_to_cart.cta.dropdown-toggle,
.btn-check:checked + .added_to_cart.alt,
.btn-check:active + .added_to_cart.alt,
.added_to_cart.alt:active,
.added_to_cart.alt.active,
.show > .added_to_cart.alt.dropdown-toggle {
  color: #fff;
  background-color: #683d0a;
  border-color: #62390a;
}
.btn-check:checked + button.cta:focus, .btn-check:active + button.cta:focus, button.cta:active:focus, button.cta.active:focus, .show > button.cta.dropdown-toggle:focus, .btn-check:checked + button.alt:focus, .btn-check:active + button.alt:focus, button.alt:active:focus, button.alt.active:focus, .show > button.alt.dropdown-toggle:focus,
.btn-check:checked + input[type=button].cta:focus,
.btn-check:active + input[type=button].cta:focus,
input[type=button].cta:active:focus,
input[type=button].cta.active:focus,
.show > input[type=button].cta.dropdown-toggle:focus,
.btn-check:checked + input[type=button].alt:focus,
.btn-check:active + input[type=button].alt:focus,
input[type=button].alt:active:focus,
input[type=button].alt.active:focus,
.show > input[type=button].alt.dropdown-toggle:focus,
.btn-check:checked + input[type=reset].cta:focus,
.btn-check:active + input[type=reset].cta:focus,
input[type=reset].cta:active:focus,
input[type=reset].cta.active:focus,
.show > input[type=reset].cta.dropdown-toggle:focus,
.btn-check:checked + input[type=reset].alt:focus,
.btn-check:active + input[type=reset].alt:focus,
input[type=reset].alt:active:focus,
input[type=reset].alt.active:focus,
.show > input[type=reset].alt.dropdown-toggle:focus,
.btn-check:checked + input[type=submit].cta:focus,
.btn-check:active + input[type=submit].cta:focus,
input[type=submit].cta:active:focus,
input[type=submit].cta.active:focus,
.show > input[type=submit].cta.dropdown-toggle:focus,
.btn-check:checked + input[type=submit].alt:focus,
.btn-check:active + input[type=submit].alt:focus,
input[type=submit].alt:active:focus,
input[type=submit].alt.active:focus,
.show > input[type=submit].alt.dropdown-toggle:focus,
.btn-check:checked + .button.cta:focus,
.btn-check:active + .button.cta:focus,
.button.cta:active:focus,
.button.cta.active:focus,
.show > .button.cta.dropdown-toggle:focus,
.btn-check:checked + .button.alt:focus,
.btn-check:active + .button.alt:focus,
.button.alt:active:focus,
.button.alt.active:focus,
.show > .button.alt.dropdown-toggle:focus,
.btn-check:checked + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta:focus,
.btn-check:active + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta:focus,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta:active:focus,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta.active:focus,
.show > .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta.dropdown-toggle:focus,
.btn-check:checked + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt:focus,
.btn-check:active + .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt:focus,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt:active:focus,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt.active:focus,
.show > .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt.dropdown-toggle:focus,
.btn-check:checked + .added_to_cart.cta:focus,
.btn-check:active + .added_to_cart.cta:focus,
.added_to_cart.cta:active:focus,
.added_to_cart.cta.active:focus,
.show > .added_to_cart.cta.dropdown-toggle:focus,
.btn-check:checked + .added_to_cart.alt:focus,
.btn-check:active + .added_to_cart.alt:focus,
.added_to_cart.alt:active:focus,
.added_to_cart.alt.active:focus,
.show > .added_to_cart.alt.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(149, 103, 49, 0.5);
}
button.cta:disabled, button.cta.disabled, button.alt:disabled, button.alt.disabled,
input[type=button].cta:disabled,
input[type=button].cta.disabled,
input[type=button].alt:disabled,
input[type=button].alt.disabled,
input[type=reset].cta:disabled,
input[type=reset].cta.disabled,
input[type=reset].alt:disabled,
input[type=reset].alt.disabled,
input[type=submit].cta:disabled,
input[type=submit].cta.disabled,
input[type=submit].alt:disabled,
input[type=submit].alt.disabled,
.button.cta:disabled,
.button.cta.disabled,
.button.alt:disabled,
.button.alt.disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta:disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta.disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt:disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt.disabled,
.added_to_cart.cta:disabled,
.added_to_cart.cta.disabled,
.added_to_cart.alt:disabled,
.added_to_cart.alt.disabled {
  color: #fff;
  background-color: #824c0d;
  border-color: #824c0d;
}
button.cta:disabled, button.cta.disabled, fieldset:disabled button.cta, button.alt:disabled, button.alt.disabled, fieldset:disabled button.alt,
input[type=button].cta:disabled,
input[type=button].cta.disabled,
fieldset:disabled input[type=button].cta,
input[type=button].alt:disabled,
input[type=button].alt.disabled,
fieldset:disabled input[type=button].alt,
input[type=reset].cta:disabled,
input[type=reset].cta.disabled,
fieldset:disabled input[type=reset].cta,
input[type=reset].alt:disabled,
input[type=reset].alt.disabled,
fieldset:disabled input[type=reset].alt,
input[type=submit].cta:disabled,
input[type=submit].cta.disabled,
fieldset:disabled input[type=submit].cta,
input[type=submit].alt:disabled,
input[type=submit].alt.disabled,
fieldset:disabled input[type=submit].alt,
.button.cta:disabled,
.button.cta.disabled,
fieldset:disabled .button.cta,
.button.alt:disabled,
.button.alt.disabled,
fieldset:disabled .button.alt,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta:disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta.disabled,
fieldset:disabled .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt:disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt.disabled,
fieldset:disabled .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt,
.added_to_cart.cta:disabled,
.added_to_cart.cta.disabled,
fieldset:disabled .added_to_cart.cta,
.added_to_cart.alt:disabled,
.added_to_cart.alt.disabled,
fieldset:disabled .added_to_cart.alt {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
}

.page-template-template-onlycontent .hentry .entry-content figure.wp-block-image {
  margin-bottom: 5px;
}
.page-template-template-onlycontent .hentry .entry-content figure.wp-block-image:first-of-type {
  margin-bottom: 12.25vh !important;
}
@media (min-width: 768px) {
  .page-template-template-onlycontent .hentry .entry-content figure.wp-block-image:nth-of-type(2) img {
    margin-left: -6.9815195072%;
  }
}

.welcome {
  padding-left: 0;
  list-style: none;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  justify-content: space-between;
  font-family: "Inria Serif", serif;
  letter-spacing: -0.019em;
  margin-bottom: 6.375vh;
}
@media (min-width: 768px) {
  .welcome {
    margin-left: 0.4861111111vw;
    margin-right: 1.7361111111vw;
  }
}
.welcome li {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
  flex: 0 0 auto;
  width: auto;
}

.site-header .site-logo-anchor img,
.site-header .site-logo-link img,
.site-header .custom-logo-link img {
  width: auto;
  max-width: none;
}
@media (min-width: 768px) {
  .site-header .site-branding img {
    max-width: none;
  }
}

@media (min-width: 768px) {
  .secondary-navigation {
    line-height: inherit;
    margin: 0 0 10px;
  }
  .secondary-navigation .menu {
    font-size: inherit;
    float: left;
  }
  .secondary-navigation .menu a {
    padding: 0.4375em 0.75em;
  }
  .secondary-navigation .menu .menu-item-12831 a {
    font-weight: 600;
    border: 1px solid #fff;
    padding: 0.375em 0.6875em;
  }
}
.popover {
  position: relative;
  max-width: 398px;
  border: none;
  background-color: transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.popover-body {
  padding: 32px;
  color: #824c0d;
  font-weight: 500;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 0.625em;
}
.popover .popover-arrow {
  position: relative;
  z-index: 0;
}
.popover .popover-arrow::after {
  display: none;
}
.popover .popover-arrow::before {
  border: 0;
  width: 38px;
  height: 38px;
  transform: rotate(45deg);
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 0;
}
.popover p:last-child {
  margin-bottom: 0;
}

.wpmc-tabs-list.wpmc-2-tabs .wpmc-tab-item {
  width: 50%;
}
.wpmc-tabs-list.wpmc-3-tabs .wpmc-tab-item {
  width: 43.8144329897%;
}
.wpmc-tabs-list.wpmc-3-tabs .wpmc-tab-item:first-child, .wpmc-tabs-list.wpmc-3-tabs .wpmc-tab-item:last-child {
  width: 28.0927835052%;
}
.wpmc-tabs-wrapper {
  width: 100%;
  display: block;
  margin: 16px auto 54px 0;
  padding-top: 24.5px;
  padding-bottom: 24.5px;
}
.wpmc-tabs-wrapper .wpmc-tabs-list {
  max-width: 388px;
}
.wpmc-tabs-wrapper .wpmc-tab-item:first-child {
  text-align: left;
}
.wpmc-tabs-wrapper .wpmc-tab-item:last-child {
  text-align: right;
}
.wpmc-tabs-wrapper .wpmc-tab-item::before {
  border-width: 3px;
  border-bottom-color: #cecccc;
}
.wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-number {
  width: 49px;
  min-width: 49px;
  min-height: 48px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  padding-top: 6px;
  padding-bottom: 6px;
}
@media screen and (min-width: 767px) {
  .wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-number {
    margin-top: -24.5px;
  }
}
.wpmc-tabs-wrapper .wpmc-tab-item.done::before, .wpmc-tabs-wrapper .wpmc-tab-item.current::before {
  border-bottom-color: #048d38;
}
.wpmc-tabs-wrapper .wpmc-tab-item.done .wpmc-tab-number, .wpmc-tabs-wrapper .wpmc-tab-item.current .wpmc-tab-number {
  border-color: #048d38;
  padding-top: 3px;
  padding-bottom: 3px;
}
.wpmc-tabs-wrapper .wpmc-tab-item.done .wpmc-tab-number, .wpmc-tabs-wrapper .wpmc-tab-item.current .wpmc-tab-number, .wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-number {
  border-width: 3px;
  color: #048d38;
}
.wpmc-tabs-wrapper .wpmc-tab-item:not(.current):not(.done) .wpmc-tab-number {
  border: none;
  background-color: #cecccc;
}
.wpmc-tabs-wrapper .wpmc-tab-text {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.wc-proceed-to-checkout .button.checkout-button,
.sakataifield-proceed-to-checkout .button.checkout-button {
  font-size: 18px;
  line-height: 1.5;
}

.tt-suggestion.tt-cursor {
  background-color: #824c0d;
}

.sakataifield-register label {
  color: #824c0d;
  font-weight: 600;
}

input[type=text].distributor-readonly {
  border: 0;
  padding: 19px 0;
  margin-top: 9px;
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 0;
}
input[type=text].distributor-readonly[readonly] {
  background-color: transparent;
}
input[type=text].distributor-readonly:focus {
  box-shadow: none;
}

.form-check-group {
  display: block;
  margin-top: 28px;
  margin-bottom: 19px;
}

/* head temporary */
#distributor_base_id_field {
  margin-bottom: 54px;
}
#distributor_base_id_field label em {
  font-weight: 400;
}

.distributor-trade {
  display: block;
  margin-top: 28px;
  color: #824c0d;
  font-size: 1.5em;
  font-weight: 600;
}

.other-distributor-modal {
  display: block;
}

#wpmc-prev {
  min-width: 99px;
}

#wpmc-next {
  min-width: 127px;
}

.site-search,
.site-header-cart,
.storefront-breadcrumb,
.site-footer,
h1,
.main-navigation,
.edit-link {
  display: none;
}

/* tail temporary */
