/*
Theme Name: Hello Sakataifield
Template: hello-elementor
Version: 1.0.0
Child Version: 1.0.1
Text Domain: hello-sakataifield
*/

@import "vendor/twbs/bootstrap/scss/functions";
@import "vendor/twbs/bootstrap/scss/variables";
$sakataifield-primary: #824c0d !default;
$sakataifield-link-color: $sakataifield-primary !default;
$sakataifield-link-hover-color: shift-color($sakataifield-link-color, $link-shade-percentage) !default;
$sakataifield-line-height: (23/16) !default;
$sakataifield-input-font-family: monospace !default; // Lekton,
$sakataifield-input-border-color: $sakataifield-primary !default;
$sakataifield-form-select-border-color: $sakataifield-input-border-color !default;
$sakataifield-input-line-height: $sakataifield-line-height !default;
$sakataifield-form-select-line-height: $sakataifield-input-line-height !default;
$sakataifield-form-select-font-family: $sakataifield-input-font-family !default;
$sakataifield-input-color: $sakataifield-primary !default;
$sakataifield-input-focus-color: $sakataifield-input-color !default;
$sakataifield-form-select-color: $sakataifield-input-color !default;
$sakataifield-component-active-bg: $sakataifield-primary !default;
$sakataifield-input-focus-border-color: tint-color($sakataifield-component-active-bg, 50%) !default;
$sakataifield-form-select-focus-border-color: $sakataifield-input-focus-border-color !default;
$sakataifield-input-btn-focus-color: rgba($sakataifield-component-active-bg, $input-btn-focus-color-opacity) !default;
$sakataifield-input-focus-box-shadow: 0 0 0 $form-select-focus-width $sakataifield-input-btn-focus-color !default;
$sakataifield-form-select-focus-box-shadow: $sakataifield-input-focus-box-shadow !default;
$sakataifield-btn-font-family: $sakataifield-input-font-family !default;
$sakataifield-btn-color: $sakataifield-primary !default;
$sakataifield-btn-font-weight: 700 !default;
$sakataifield-btn-line-height: $sakataifield-line-height !default;
$sakataifield-form-select-indicator-color: $sakataifield-form-select-color !default;
$sakataifield-form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$sakataifield-form-select-indicator-color}' stroke-width='2' d='M2.343 5.343 8 11l5.657-5.657'/></svg>") !default;
$sakataifield-form-select-bg-size: 16px 16px !default; // In pixels because image dimensions
$sakataifield-form-check-input-focus-border: $sakataifield-input-focus-border-color !default;
$sakataifield-input-btn-focus-box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width $sakataifield-input-btn-focus-color !default;
$sakataifield-form-check-input-checked-bg-color: $sakataifield-primary !default;
$sakataifield-form-check-input-checked-border-color: $sakataifield-form-check-input-checked-bg-color !default;
$sakataifield-form-check-input-focus-box-shadow: $sakataifield-input-btn-focus-box-shadow !default;
$sakataifield-link-decoration: none !default;
$sakataifield-link-hover-decoration: underline !default;
$sakataifield-form-check-input-width: (21em / 16) !default;
$sakataifield-form-check-input-border: 2px solid $sakataifield-primary !default;
$sakataifield-form-check-input-border-radius: (1em / 16) !default;
@import "vendor/twbs/bootstrap/scss/mixins";
@import "vendor/twbs/bootstrap/scss/utilities";
@import "vendor/twbs/bootstrap/scss/popover";

body {
  font-family: Montserrat, sans-serif;
  line-height: $sakataifield-line-height;
  color: #000;
}

a {
  color: $sakataifield-link-color;
  text-decoration: $sakataifield-link-decoration;

  &:hover {
    color: $sakataifield-link-hover-color;
    text-decoration: $sakataifield-link-hover-decoration;
  }

  .menu & {
    &:hover {
      text-decoration: $sakataifield-link-decoration;
    }
  }

  &:focus {
    outline: none;
  }
}

.optional {
  font-weight: 300;
  font-style: italic;
}

select {
  display: block;
  width: 100%;
  padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
  // stylelint-disable-next-line property-no-vendor-prefix
  -moz-padding-start: subtract($form-select-padding-x, 3px); // See https://github.com/twbs/bootstrap/issues/32636
  font-family: $sakataifield-form-select-font-family;
  @include font-size($form-select-font-size);
  color: $sakataifield-form-select-color;
  background-color: $form-select-bg;
  background-image: escape-svg($sakataifield-form-select-indicator);
  background-repeat: no-repeat;
  background-position: $form-select-bg-position;
  background-size: $sakataifield-form-select-bg-size;
  border-color: $sakataifield-form-select-border-color;
  @include border-radius($form-select-border-radius, 0);
  @include box-shadow($form-select-box-shadow);
  @include transition($form-select-transition);
  appearance: none;
  letter-spacing: -.019em;

  &:focus {
    border-color: $sakataifield-form-select-focus-border-color;
    outline: 0;
    @if $enable-shadows {
    @include box-shadow($form-select-box-shadow, $sakataifield-form-select-focus-box-shadow);
    } @else {
    // Avoid using mixin so we can pass custom focus shadow properly
    box-shadow: $sakataifield-form-select-focus-box-shadow;
    }
  }

  &[multiple],
  &[size]:not([size="1"]) {
    padding-right: $form-select-padding-x;
    background-image: none;
  }

  &:disabled {
    color: $form-select-disabled-color;
    background-color: $form-select-disabled-bg;
    border-color: $form-select-disabled-border-color;
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $form-select-color;
  }
}

input[type=text],
input[type=email],
input[type=tel] {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-family: $sakataifield-input-font-family;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $sakataifield-input-line-height;
  color: $sakataifield-input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $sakataifield-input-border-color;
  appearance: none; // Fix appearance for date inputs in Safari
  box-shadow: none;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    color: $sakataifield-input-focus-color;
    background-color: $input-focus-bg;
    border-color: $sakataifield-input-btn-focus-color;
    outline: 0;
    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: $sakataifield-input-focus-box-shadow;
    }
  }

  // Add some height to date inputs on iOS
  // https://github.com/twbs/bootstrap/issues/23307
  // TODO: we can remove this workaround once https://bugs.webkit.org/show_bug.cgi?id=198959 is resolved
  &::-webkit-date-and-time-value {
    // Multiply line-height by 1em if it has no unit
    height: if(unit($input-line-height) == "", $input-line-height * 1em, $input-line-height);
  }

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    border-color: $input-disabled-border-color;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  // File input buttons theming
  &::file-selector-button {
    padding: $input-padding-y $input-padding-x;
    margin: (-$input-padding-y) (-$input-padding-x);
    margin-inline-end: $input-padding-x;
    color: $form-file-button-color;
    @include gradient-bg($form-file-button-bg);
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: $input-border-width;
    border-radius: 0; // stylelint-disable-line property-disallowed-list
    @include transition($btn-transition);
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: $form-file-button-hover-bg;
  }

  &::-webkit-file-upload-button {
    padding: $input-padding-y $input-padding-x;
    margin: (-$input-padding-y) (-$input-padding-x);
    margin-inline-end: $input-padding-x;
    color: $form-file-button-color;
    @include gradient-bg($form-file-button-bg);
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: $input-border-width;
    border-radius: 0; // stylelint-disable-line property-disallowed-list
    @include transition($btn-transition);
  }

  &:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: $form-file-button-hover-bg;
  }
}

.form-check {
  display: block;
  min-height: $form-check-min-height;
  padding-left: $form-check-padding-start;
  margin-bottom: $form-check-margin-bottom;

  .form-check-input {
    float: left;
    margin-left: $form-check-padding-start * -1;
  }
}

.form-check-input {
  width: $sakataifield-form-check-input-width;
  height: $sakataifield-form-check-input-width;
  margin-top: ($line-height-base - $sakataifield-form-check-input-width) * .5; // line-height minus check height
  vertical-align: top;
  background-color: $form-check-input-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: $sakataifield-form-check-input-border;
  appearance: none;
  color-adjust: exact; // Keep themed appearance for print
  @include transition($form-check-transition);

  &[type="checkbox"] {
    @include border-radius($sakataifield-form-check-input-border-radius);
  }

  &[type="radio"] {
    // stylelint-disable-next-line property-disallowed-list
    border-radius: $form-check-radio-border-radius;
  }

  &:active {
    filter: $form-check-input-active-filter;
  }

  &:focus {
    border-color: $sakataifield-form-check-input-focus-border;
    outline: 0;
    box-shadow: $sakataifield-form-check-input-focus-box-shadow;
  }

  &:checked {
    background-color: $sakataifield-form-check-input-checked-bg-color;
    border-color: $sakataifield-form-check-input-checked-border-color;

    &[type="checkbox"] {
      @if $enable-gradients {
        background-image: escape-svg($form-check-input-checked-bg-image), var(--#{$variable-prefix}gradient);
      } @else {
        background-image: escape-svg($form-check-input-checked-bg-image);
      }
    }

    &[type="radio"] {
      @if $enable-gradients {
        background-image: escape-svg($form-check-radio-checked-bg-image), var(--#{$variable-prefix}gradient);
      } @else {
        background-image: escape-svg($form-check-radio-checked-bg-image);
      }
    }
  }

  &[type="checkbox"]:indeterminate {
    background-color: $form-check-input-indeterminate-bg-color;
    border-color: $form-check-input-indeterminate-border-color;

    @if $enable-gradients {
      background-image: escape-svg($form-check-input-indeterminate-bg-image), var(--#{$variable-prefix}gradient);
    } @else {
      background-image: escape-svg($form-check-input-indeterminate-bg-image);
    }
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: $form-check-input-disabled-opacity;
  }

  // Use disabled attribute in addition of :disabled pseudo-class
  // See: https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .form-check-label {
      opacity: $form-check-label-disabled-opacity;
    }
  }
}

.form-check-label {
  color: $form-check-label-color;
  cursor: $form-check-label-cursor;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within),
.page-template-template-onlycontent h1 {
  @include visually-hidden();
}

button,
input[type=button],
input[type=reset],
input[type=submit],
.button,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.added_to_cart {
  display: inline-block;
  font-family: $sakataifield-btn-font-family;
  font-weight: $sakataifield-btn-font-weight;
  line-height: $sakataifield-btn-line-height;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  @include transition($btn-transition);
  letter-spacing: -.019em;
  @include button-variant(tint-color($sakataifield-primary, 80%), $sakataifield-primary);
  color: $sakataifield-btn-color;

  &:hover {
    color: $sakataifield-btn-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  &:active,
  &.active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
    @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &.cta,
  &.alt {
    @include button-variant($sakataifield-primary, $sakataifield-primary);

    &:disabled,
    &.disabled,
    fieldset:disabled & {
      background-color: #c4c4c4;
      border-color: #c4c4c4;
    }
  }
}

.page-template-template-onlycontent {
  .hentry .entry-content figure.wp-block-image {
    margin-bottom: 5px;

    &:first-of-type {
      margin-bottom: (98vh / 800 * 100) !important;
    }

    @include media-breakpoint-up(md) {

      &:nth-of-type(2) {

        img {
          margin-left: percentage(-34 / 487);
        }
      }
    }
  }
}

.welcome {
  padding-left: 0;
  list-style: none;
  @include make-row();
  justify-content: space-between;
  font-family: 'Inria Serif', serif;
  letter-spacing: -.019em;
  margin-bottom: (51vh / 800 * 100);

  @include media-breakpoint-up(md) {
    margin-left: (7vw / 1440 * 100);
    margin-right: (25vw / 1440 * 100);
  }

  li {
    @include make-col-ready();
    @include make-col-auto();
  }
}

.site-header {
  .site-logo-anchor,
  .site-logo-link,
  .custom-logo-link {
    img {
      width: auto;
      max-width: none;
    }
  }
  @include media-breakpoint-up(md) {
    .site-branding {
      img {
        max-width: none;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .secondary-navigation {
    line-height: inherit;
    margin: 0 0 10px;

    .menu {
      font-size: inherit;
      float: left;

      a {
        padding: (7em / 16) (12em / 16);
      }


      .menu-item-12831 {

        a {
          font-weight: 600;
          border: 1px solid $white;
          padding: (6em / 16) (11em / 16);
        }
      }
    }
  }
}

.popover {
  position: relative;
  max-width: 398px;
  border: none;
  background-color: transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  &-body {
    padding: 32px;
    color: $sakataifield-primary;
    font-weight: 500;
    position: relative;
    z-index: 1;
    background-color: $white;
    @include border-radius(10em / 16);
  }

  .popover-arrow {
    position: relative;
    z-index: 0;

    &::after {
      display: none;
    }

    &::before {
      border: 0;
      width: 38px;
      height: 38px;
      transform: rotate(45deg);
      background-color: $white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.wpmc-tabs {
  &-list {
    &.wpmc-2-tabs {
      .wpmc-tab-item {
        width: 50%;
      }
    }
    &.wpmc-3-tabs {
      .wpmc-tab-item {
        width: percentage(170/388);

        &:first-child,
        &:last-child {
          width: percentage(109/388);
        }
      }
    }
  }
  &-wrapper {
    width: 100%;
    display: block;
    margin: 16px auto 54px 0;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
    .wpmc-tabs-list {
      max-width: 388px;
    }
    .wpmc-tab-item {
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
      &::before {
        border-width: 3px;
        border-bottom-color: #cecccc;
      }
      .wpmc-tab-number {
        width: 49px;
        min-width: 49px;
        min-height: 48px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        padding-top: 6px;
        padding-bottom: 6px;
        @media screen and (min-width: 767px) {
          margin-top: -24.5px;
        }
      }

      &.done,
      &.current {
        &::before {
          border-bottom-color: #048d38;
        }
        .wpmc-tab-number {
          border-color: #048d38;
          padding-top: 3px;
          padding-bottom: 3px;
        }
      }

      &.done,
      &.current,
      & {
        .wpmc-tab-number {
          border-width: 3px;
          color: #048d38;
        }
      }

      &:not(.current):not(.done) {
        .wpmc-tab-number {
          border: none;
          background-color: #cecccc;
        }
      }
    }

    .wpmc-tab-text {
      @include visually-hidden();
    }
  }
}

.wc-proceed-to-checkout,
.sakataifield-proceed-to-checkout {
  .button.checkout-button {
    font-size: 18px;
    line-height: 1.5;
  }
}

.tt {

  &-suggestion {

    &.tt-cursor {
      background-color: $sakataifield-primary;
    }
  }

}

.sakataifield-register {
  label {
    color: $sakataifield-primary;
    font-weight: 600;
  }
}

input[type=text] {
  &.distributor-readonly {
    &[readonly] {
      background-color: transparent;
    }

    border: 0;
    padding: 19px 0;
    margin-top: 9px;
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 600;
    @include border-radius(0);

    &:focus {
      box-shadow: none;
    }
  }
}

.form-check-group {
  display: block;
  margin-top: 28px;
  margin-bottom: 19px;
}

/* head temporary */
#distributor_base_id_field {
  margin-bottom: 54px;
  label {
    em {
      font-weight: 400;
    }
  }
}
.distributor-trade {
  display: block;
  margin-top: 28px;
  color: $sakataifield-primary;
  font-size: 1.5em;
  font-weight: 600;
}
.other-distributor-modal {
  display: block;
}
#wpmc-prev {
  min-width: 99px;
}
#wpmc-next {
  min-width: 127px;
}
// body {
// 	@include media-breakpoint-up(xl) {
// 		// background-image: url(https://telas.test/capa.png);
// 		background-image: url(https://telas.test/register2.png);
// 		background-size: 1440px;
// 		background-position: center -27px;
// 		background-repeat: no-repeat;
// 	}
// }
// .wp-block-image {
// 	&:first-of-type {
// 		margin-top: 114px !important;
// 	}
// }
.site-search,
.site-header-cart,
.storefront-breadcrumb,
.site-footer,
h1,
.main-navigation,
.edit-link { display: none; }
/* tail temporary */
