.user-can-exhibitor.post-type-exhibitor .subsubsub,
.user-can-exhibitor.post-type-exhibitor .icl_subsubsub,
.user-can-exhibitor.post-type-product .subsubsub .all,
.user-can-exhibitor.post-type-product .subsubsub .publish,
.user-can-exhibitor.post-type-product .subsubsub .draft,
.user-can-exhibitor.post-type-product .subsubsub .trash .count,
.user-can-exhibitor.post-type-product .icl_subsubsub,
.user-can-exhibitor.post-type-exhibitor .page-title-action,
.user-can-exhibitor .search-box,
.user-can-exhibitor .tablenav,
.user-can-exhibitor.post-type-exhibitor .row-actions,
.user-can-exhibitor .row-actions .rewrite,
.user-can-exhibitor .row-actions .edit_as_new_draft,
.user-can-exhibitor a[href="post-new.php?post_type=exhibitor"],
.user-can-exhibitor #show-settings-link,
/*.user-can-exhibitor #wp-admin-bar-WPML_ALS,*/
.user-can-exhibitor #wp-admin-bar-new-content,
.user-can-exhibitor #wp-admin-bar-wp-logo,
.user-can-exhibitor #wp-admin-bar-duplicate-post,
.user-can-exhibitor #wp-admin-bar-view,
.user-can-exhibitor #edit-slug-box,
.user-can-exhibitor #icl_div,
.user-can-exhibitor #visibility,
.user-can-exhibitor #delete-action,
.user-can-exhibitor #rewrite-republish-action,
.user-can-exhibitor #duplicate-action,
.user-can-exhibitor .edit-post-status,
.user-can-exhibitor .edit-timestamp,
.user-can-exhibitor #icl_translations,
.user-can-exhibitor td.icl_translations,
.user-can-exhibitor th.column-icl_translations,
.user-can-exhibitor #authordiv,
.user-can-exhibitor .otgs-notice[data-group="wpml-core"],
.user-can-exhibitor.post-type-product #preview-action,
.user-can-exhibitor #wp-admin-bar-WPML_ALS_all{
	display: none!important;
}
.user-can-exhibitor #post-body-content{
	margin-bottom: 0;
}
.user-can-exhibitor #titlediv{
	padding-bottom: 15px;
}
.user-can-exhibitor div[data-name="exhibitor_stand_type"] .acf-input{
	position: relative;
}
.user-can-exhibitor div[data-name="exhibitor_stand_type"] .acf-input::after{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	z-index: 10;
	content: ""
}