#foryouModal .modal-header {
    border-radius: 0px 0px 20px 20px;
    background-color: #61BE16;
    padding-top: 12px;
    padding-bottom: 12px;
}

#foryouModal .modal-dialog{
	max-width: 1280px;
    margin-top: 0;
}

#foryouModal .modal-content{
	background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 42.71%, #EAEBEE 100%);
}

.foryou-list-products,
.foryou-wishlist{
	padding-right: 20px;
}

.foryou-wishlist{
	display: none;
}

.img-header-foryou {
    height: 34px;
    width: auto;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.content-foryou.check-product{
	
}

#foryouModal .modal-title {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}

#foryouModal .modal-title h3 {
    font-size: 28px;
    color: #FFF;
    font-weight: 600;
    margin-bottom: 0px;
}

#foryouModal .modal-title p {
    color: #444444;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}

#foryouModal .btn-close {
    background-color: #444444;
    border: 0;
    opacity: 1;
    border-radius: 30px;
    font-size: 14px;
    position: absolute;
    top: 30px;
    right: 25px;
    width: 40px;
    height: 40px;
    color: white;
}
#foryouModal .btn-close:focus {
    box-shadow: none;
    border: none;
}
#foryouModal .btn-close:target {
    box-shadow: none;
    border: none;
    color: #FFF;
}
#foryouModal .btn-close:active {
    box-shadow: none;
    border: 0;
    color: #FFF;
}
#foryouModal .btn-close span {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#foryouModal .content-foryou .list-products {
    background-color: #FFF;
    border-radius: 12px;
    margin-bottom: 5%;
}

#foryouModal .content-foryou .title-list-products {
    font-size: 24px;
    line-height: 1.2em;
    margin: 15px 0;
    font-weight: 600;
    color: #444;
}

#foryouModal .content-foryou .list-products .card-product {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3%;
}

#foryouModal .content-foryou .list-products .img-product-list {
    max-width: 90px;
    height: auto;
}
#foryouModal .content-foryou .list-products .card-product:not(:first-child) {
    border-top: 0.4px solid #ACACAC;

}

#foryouModal .content-foryou .list-products .card-product .title-product {
    font-size: 20px;
    margin: 0px;
    line-height: 24px;
    font-weight: 600;
    color: #444;
}

#foryouModal .content-foryou .list-products .card-product .author-product {
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}

#foryouModal .content-foryou .list-products .card-product .discount-product,
#foryouModal .content-foryou .list-products .card-product .condition-product {
    background-image: url(../img/mark.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 228px;
    height: 48px!important;
    padding: 0;
    height: auto;
    position: relative;
}

#foryouModal .content-foryou .list-products .card-product .condition-product {
	background-image: url(../img/mark-condition.svg);
}

#foryouModal .content-foryou .list-products .card-product .discount-product::before,
#foryouModal .content-foryou .list-products .card-product .condition-product::before {
	position: absolute;
	left: 15px;
	top: 14px;
	content: "";
	width: 20px;
	height: 14px;
	background: url('../img/discount.png') no-repeat;
}

#foryouModal .content-foryou .list-products .card-product .condition-product::before {
    width: 22px;
	height: 22px;
	background: url('../img/price-tag.svg') no-repeat;
	top: 11px;
}

#foryouModal .content-foryou .list-products .card-product .discount-product span,
#foryouModal .content-foryou .list-products .card-product .condition-product span {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
    max-width: 210px;
    width: 100%;
    display: block;
    padding-left: 50px;
    line-height: 1.1em;
    display: table-cell;
    height: 42px;
    vertical-align: middle;
}

#foryouModal .content-foryou .list-products .card-product .btn-send-list {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px;
    border: none;
}

#foryouModal .content-foryou .list-products .card-product .btn-send-list:hover {
    background: #FFF;
    color: #048D38;
    border: 1px solid #048D38;
}


#foryouModal .content-foryou .list-products .card-product .column-btn-send {
    text-align: right;
}

#foryouModal .content-foryou .list-products .card-product .column-btn-send button{
	position: relative;
	left: auto;
	top: auto;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 100%;
}

#foryouModal .content-foryou .title-list-interest {
    font-size: 24px;
    margin: 0px;
    line-height: 1.2em;
    margin-bottom: 15px;
    font-weight: 600;
    color: #444;
}

#foryouModal .content-foryou .list-interest .card-header .card-title {
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
}

#foryouModal .content-foryou .list-interest .card-body {
    background: #FFFFFF;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 30px;
}
#foryouModal .icone-interest{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#foryouModal .content-foryou .list-interest .card-body .card-info {
    display: flex;
}

#foryouModal .content-foryou .list-interest .card-body .card-info img {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 5px;
}


#foryouModal .content-foryou .list-interest .card-body .card-body-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2em;
    color: #444;
    margin: auto auto auto 15px;
}

#foryouModal .content-foryou .list-interest .card-body .column-acess-list{
	text-align: right;
}

#foryouModal .content-foryou .list-interest .card-body .column-acess-list .btn-list-interest {
    width: 100%;
    background: #AA2200;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    padding: 15px 20px;
    border: 1px solid white;
    transition: 200ms all;
}

#foryouModal .content-foryou .list-interest .card-body .column-acess-list .btn-list-interest:hover {
    background-color: #FFF;
    color: #AA2200;
    border-color: #AA2200;
}

#foryouModal .list-scheduling {
    background-color: #FFF;
    border-radius: 12px;
    padding: 24px 15px 1px 15px;
    margin-bottom: 4%;
}

#foryouModal .card-agenda {
    border-color: white;
    max-width: 100%;
    box-shadow: 0px 12px 24px rgb(0 0 0 / 16%);
    border-radius: 12px;
    background-color: #FFF;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

#foryouModal .card-agenda .col-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#foryouModal .card-agenda .col-info .col-date-card {
    display: flex;
    justify-content: center;
}

#foryouModal .card-agenda .date-day {
    font-size: 20px;
    margin: 0px;
    line-height: 16px;
    font-weight: 600;
    color: #444444;
}

#foryouModal .card-agenda .date-month {
    font-size: 15px;
    color: #444444;
    font-weight: 400;
    line-height: 25px;
}

#foryouModal .card-agenda .date-hour {
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    line-height: 20px;
}

#foryouModal .card-agenda .btn-agenda {
    text-decoration: none;
    color: #FFF;
    background-color: #048D38;
    border-radius: 4px;
    padding: 15px 20px;
    font-weight: 400;
    border: 0;
}


#foryouModal .card-agenda .btn-agenda:hover {
    cursor: pointer;
    background-color: #048d38cb;
    color: #FFF;
    border: none;
}


#foryouModal .card-agenda .card-body {
    padding: 1rem 0;
}

#foryouModal .card-agenda .card-body .card-title {
    font-size: 15px;
    font-weight: 600;
    color: #444444;
    margin: 3px;
    line-height: 1.3em;
}


#foryouModal .content-foryou .title-list-speeches {
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 15px;
    font-weight: 600;
    color: #444;
}

#foryouModal .title-products-info {
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 15px;
    font-weight: 600;
    color: #444;
}

#foryouModal .product-modules {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E8E8E8;
    border-radius: 12px;
}

#foryouModal .content-foryou .more-info-product .header-product {
    width: 100%;
    text-align: left;
    box-shadow: 0px 12px 24px rgb(0 0 0 / 16%);
    border-radius: 12px 12px 0px 0px;
    background-color: #444;
}

#foryouModal .content-foryou .more-info-product .header-product h4 {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
    padding: 12px;
    margin: 0;
}


#foryouModal .content-foryou .more-info-product .btn-product-list {
    margin: 5% 0%;
}

#foryouModal .content-foryou .more-info-product .btn-product-list .btn-product {
    font-size: 16px;
    padding: 15px 20px;
    font-weight: 400;
    border: 0;
}

#foryouModal .content-foryou .more-info-product .btn-product-list .btn-product:hover {
    background-color: #048d38cb;
    color: #FFF;
    border: 0;
}

#foryouModal .content-foryou .title-schedules-lectures {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 600;
}

#foryouModal .content-foryou .scheduled-lectures {
    padding-left: 7%;
    display: none;
}

#foryouModal .content-foryou .scheduled-lectures.has-subscriptions {
    display: block;
}


#foryouModal .content-foryou .scheduled-lectures .title-schedules-lectures {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 15px;
    color: #444;
}

.card-product .container .row {
    justify-content: center;
    align-items: center;
}

#foryouModal .content-foryou .scheduled-lectures .scheduled-list .card-agenda {
    flex-direction: column;
    margin-bottom: 3%;
    padding: 3%;
    display: none
}

#foryouModal .content-foryou .scheduled-lectures .scheduled-list .card-agenda.subscribed{
	display: flex;
}

#foryouModal .content-foryou .scheduled-lectures .scheduled-list .card-agenda button{
	width: 100%;
}

#foryouModal .content-foryou .scheduled-lectures .scheduled-list .card-agenda .card-body {
 
}

#foryouModal .content-foryou .scheduled-lectures .scheduled-list .card-agenda .col-agendamentos {
    display: flex;
    width: 100%;
}

#foryouModal .card-agenda .btn-agenda.cancel {
	background-color: #acacac;
	border-color: #acacac;
}

#foryouModal .card-agenda .btn-agenda.loading {
	background-color: #FAFAFA;
	border-color: #FAFAFA;
	position: relative;
	color: #acacac;
}

#foryouModal .content-foryou .scheduled-lectures .scheduled-list .card-agenda .img-thumb-agenda {
    max-height: 65px;
    max-width: 65px;
}

#footer-foryou {
    background-color: #ED3A37;
    padding: .5% 0%;
    text-align: center;
}
#foryouModal .slick-arrow.slick-prev {
    position: absolute;
    bottom: 50%;
    left: 8%;
    z-index: 1;
    width: 50px;
}

#foryouModal .slick-arrow.slick-next {
    position: absolute;
    bottom: 50%;
    right: 8%;
    z-index: 1;
    width: 50px;
}

#foryouModal .slick-prev:before {
    content: "";
    font-size: 35px;
    display: block;
    height: 35px;
    width: 35px;
    background: url('../img/back.png') no-repeat;
}

#foryouModal .slick-next:before {
    content: " ";
    color: #FFF;
    font-size: 35px;
    display: block;
    height: 35px;
    width: 35px;
    background: url('../img/next.png') no-repeat;
}

#foryouModal .slick-slide {
    overflow: hidden;
    margin: 0px 15px !important;
}

@media (min-width:1024px) and (max-width:1366px) {
    #foryouModal .card-agenda .btn-agenda{
        font-size: 14px;
    }
    #foryouModal .content-foryou .scheduled-lectures .scheduled-list .card-agenda .img-thumb-agenda{
        width: 100%;
        height: auto;
    }
}

@media (max-width:768px) {

    #foryouModal .card-product .content-product{
        padding-left: 10px;
    }

    #foryouModal .modal-body-content > .container{
        padding-left: 0;
        padding-right: 0;
    }

    #foryouModal .list-scheduling{
        padding: 0;
    }

    #foryouModal .modal-dialog{
        margin-left: 0;
        margin-right: 0;
    }

    #foryouModal .content-foryou .list-interest .card-body .card-info img{
        max-width: 40px;
        margin: 10px auto;
    }

    #foryouModal .content-foryou .list-interest .card-body .col-xl-8,
    #foryouModal .content-foryou .list-interest .card-body .column-acess-list{
        width: 100%;
        text-align: center;
    }

    #foryouModal .content-foryou .list-interest .card-body .column-acess-list{
        padding: 20px 20px 0 20px; 
    }

    .foryou-list-products, .foryou-wishlist{
        padding-right: 0;
    }

    #foryouModal .modal-title h3 {
        font-size: 20px;
    }

    #foryouModal .modal-title {
        padding-left: 4%;
    }

    #foryouModal .modal-title p {
        font-size: 16px;
        padding-right: 20%;
    }

    #foryouModal .content-foryou .title-list-products {
        padding-right: 0px;
        font-size: 20px;
        margin-bottom: 30px;
    }

    #foryouModal .content-foryou .list-products {
        margin-bottom: 30px;
    }

    #foryouModal .content-foryou .list-products .card-product {
        justify-content: space-around;
        width: 100%;
    }

    #foryouModal .content-foryou .list-products .img-product-list {
        max-width: 50px;
        height: auto;
    }

    #foryouModal .content-foryou .list-products .card-product .title-product {
        font-size: 16px;
    }
    #foryouModal .content-foryou .list-products .card-product .author-product {
        font-size: 14px;

    }
    #foryouModal .content-foryou .list-products .card-product .btn-send-list {
        font-size: 14px;
        padding: 10px 20px;

    }
    #foryouModal .content-foryou .list-products .card-product .container .row .column-title-product {
        padding-left: 10px;
    }

    #foryouModal .content-foryou .list-products .card-product .about-all-product {
        display: flex;
    }

    #foryouModal .content-foryou .title-list-interest {
        padding-right: 0px;
        font-size: 20px;
        margin-bottom: 4%;
    }

    #foryouModal .content-foryou .list-interest .card-body .card-body-title {
        font-weight: 600;
        font-size: 20px;
        margin-left: 0px;
        text-align: center;
        margin-bottom: 0;
        width: 100%;
        padding: 0 20px;
    }

    #foryouModal .content-foryou .list-interest .card-body .column-acess-list .btn-list-interest {
        margin-left: 10px;
    }

    #foryouModal .content-foryou .list-interest {
        margin-bottom: 0;
    }

    #foryouModal .content-foryou .list-interest .card-body {
        flex-direction: column;
        text-align: center;
        padding-bottom: 8%;
        padding: 4% 0%;
    }

    #foryouModal .content-foryou .list-interest .card-info {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    #foryouModal .card-agenda .col-info .col-date-card {
        padding: 0% 8%;
    }
    #foryouModal .content-foryou .more-info-product {
        padding-left: 0%;
    }
    #foryouModal .content-foryou .scheduled-lectures {
        padding-left: 0%;
    }

    #foryouModal .content-foryou .title-list-speeches {
        padding-right: 0px;
        font-size: 20px;
        margin-bottom: 4%;
    }
    #foryouModal .card-agenda .col-agendamentos {
        margin-left: 0%;
    }
    #foryouModal .card-agenda {
        flex-direction: column;
        margin-top: 0%;
        padding: 0% 3%;
    }

    #foryouModal .card-agenda .img-thumb-agenda {
        max-height: 60px;
        max-width: 60px;
        padding-right: 4%;
    }

    #foryouModal .content-foryou .scheduled-lectures .scheduled-list .card-agenda .btn-agenda {
        margin-top: 2%;
        margin-left: 0%;
        display: flex;
        width: 100%;
        padding: 12px 20px;
    }


    #foryouModal .card-agenda .card-body {
        min-width: 200px;
    }

    #foryouModal .card-agenda .btn-agenda {
        display: flex;
        width: 100%;
        margin-bottom: 14px;
        padding: 12px 20px;
        justify-content: center;
    }

    #foryouModal .title-products-info {
        padding-right: 20px;
        font-size: 20px;
        margin-bottom: 4%;
    }

    #foryouModal .slick-arrow.slick-next {
        bottom: 50%;
        left: 80%;
    }
    #foryouModal .slick-arrow.slick-prev {
        bottom: 50%;
        left: 10%;
    }

    #foryouModal .content-foryou .scheduled-lectures .title-schedules-lectures {
        font-size: 20px;
        padding: 7% 0% 0% 0%;
    }

    .card-product .container {
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .card-product .container .row {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #foryouModal .content-foryou .list-products .card-product .discount-product {
        height: 30px;
        background-size: cover;
        width: 180px;
        padding: 3px 10px;
        margin-bottom: 4px;
    }

    #foryouModal .content-foryou .list-products .card-product .discount-product a {
        font-size: 14px;
    }

    #foryouModal .content-foryou .list-products .card-product .discount-product span,
    #foryouModal .content-foryou .list-products .card-product .condition-product span {
        height: 36px;
    }

}

@media screen and (min-device-width: 768px) and (max-device-width: 1028px) {

    .foryou-list-products, .foryou-wishlist{
        padding-right: 0;
    }

    #foryouModal .content-foryou .title-list-products {
        padding-top: 30px;
    }

    #foryouModal .product-modules .img-product-list{
        max-height: 260px;
        width: auto;
    }

    #foryouModal .product-modules{
        margin-bottom: 30px;
    }

    #foryouModal .content-foryou .list-interest .card-body {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    #foryouModal .card-agenda {
        flex-direction: column;
    }

    #foryouModal .card-agenda .col-info {
        width: 100%;
        justify-content: start;
    }

    #foryouModal .card-agenda .btn-agenda {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0% 16%;
        padding: 2%;
    }

    #foryouModal .card-agenda .col-agendamentos {
        margin-bottom: 3%;
        display: flex;
        width: 100%;
    }

    #foryouModal .content-foryou .scheduled-lectures .scheduled-list .card-agenda .btn-agenda {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0% 16%;
        padding: 2%;
    }

}

@media (max-width:480px) {
    #foryouModal .content-foryou .list-interest .card-body .column-acess-list .btn-list-interest{
        margin-left: 0;
    }
}