.wishlist-default-title-marketplace{
	margin: 50px 0 30px;
}
.shop-table-marketplace{
	margin-bottom: 20px;
}
.btn-wishlist-buy{
	background: #1D984C;
    display: inline-block;
    padding: 14px 20px;
    font-size: 18px;
    border-radius: 3px;
    text-decoration: none!important;
    color: white!important;
    line-height: 1.2em;
    border: 1px solid #1D984C;
    vertical-align: middle;
    margin-left: 10px;
}
.btn-wishlist-buy:hover{
	background-color: #36A460;
}
.disable-thumbslider{
	opacity: 0.5;
	pointer-events: none;
}
.wishlist-row-backbuy{
	margin-bottom: 40px;
}
.wishlist-specialist{
	margin: 40px 0 80px;
}
.wishlist-btn-load-view-container{
	text-align: center;
	padding: 30px 0;
}
.wishlist-btn-load-view-container button{
	padding: 15px 25px !important;
}
.sakataifield .wishlist-btn-load-view-container .wishlist-load-view{
	background: #FCC009;
	border: 0;
	transition: 200ms all;
	padding: 10px 20px!important;
	font-size: 20px;
}
.sakataifield .wishlist-btn-load-view-container .wishlist-load-view:hover{
	background: #F4CB67;
}
.btn-wishlist-email:focus{
	color: #000;
    background-color: #ab8a0a;
    border-color: #a18109;
}
.tooltip.show{
	z-index: 20000;
}
body .modal-wishlist{
	z-index: 20001;	
}
.wishlist-important{
	font-style: italic;
	margin: 20px 0 30px;
}
.wishlist-row-confirmation{
	display: none;
}
.wishlist-confirmation-title{
	text-align: center;
	font-size: 20px;
	line-height: 1.2em;
}
.wishlist-btn{
	padding: 15px 25px !important;
	transition: 200ms all;
	margin: 0 5px;
	border: 0!important;
}
.wishlist-btn.btn-primary{
	background: #1D984C;
}
.wishlist-btn.btn-primary:hover{
	background: #36A460;
}
.wishlist-btn.btn-secondary{
	background: #ED3A37
}
.wishlist-btn.btn-secondary:hover{
	background: #F69C9B;
}
.modal-station .nav-link img{
	-webkit-filter: none!important;
	filter: none!important;
}
body .modal-station .dropdown-item{
	min-height: 0;
	height: auto;
	border-color: transparent!important;
}
.modal-station .dropdown-menu li .dropdown-menu .dropdown-item img{
	height: auto!important;
}
.modal-station .nav-link.active, 
.modal-station .nav-link.show{
	background: white!important;
	border: 2px solid #a20;
}
.modal-station .nav-link.active span,  
.modal-station .nav-link.show span{
	color: #a20;
}
#nav-product_cat .nav-item[data-object-id="27"] span,
#nav-product_cat .nav-item[data-object-id="5970"] span{
	font-size: 16px;
}
.product-info{
	font-size: 12px;
	font-style: italic;
	display: block;
	text-align: left;
	padding: 15px 0;
}
.product-info::before{
	width: 16px;
	height: 16px;
	content: "";
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15Z' fill='%23444444'/%3E%3Cpath d='M8.66536 7.3335H7.33203V11.0002H8.66536V7.3335Z' fill='white'/%3E%3Cpath d='M8.0013 6.33317C8.46154 6.33317 8.83464 5.96007 8.83464 5.49984C8.83464 5.0396 8.46154 4.6665 8.0013 4.6665C7.54106 4.6665 7.16797 5.0396 7.16797 5.49984C7.16797 5.96007 7.54106 6.33317 8.0013 6.33317Z' fill='white'/%3E%3C/svg%3E");
}
body .modal-station .swiper-slide-inner img{
	margin: auto;
	display: block;
	max-height: 400px;
	width: auto;
}
body .modal-station-product .swiper-view-md{
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.16);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
body .modal-station-product .swiper-thumbs .swiper-slide-thumb-active{
	display: block;
}
body .modal-station-product .swiper-thumbs .swiper-slider-thumb-inner{
	width: 100%;
	height: 120px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	background-color: white
}
body .modal-station-product .swiper-thumbs .swiper-slider-thumb-inner img{
	width: auto;
	height: auto;
}
body .modal-station-product .swiper-thumbs .swiper-slide-thumb-active .swiper-slider-thumb-inner{
	border-color: #a20;
}
.modal-product-logo{
	margin-bottom: 10px;
}
.modal-station [data-discount-slug="condicoes-especiais"]::before,
.modal-station [data-discount-slug="condizones-especiales"]::before{
	font-size: 12px;
}
body .modal-station-mini .swiper-slide-inner img{
	max-height: 250px;
}
body .product-content .destaque{
	order: 1;
}
body .product-content .caracteristicas{
	order: 2;
}
body .product-content .growing-season{
	order: 3;
}
body .product-content .growing-type{
	order: 4;
}
body .modal-station-product .product-content ul{
	max-width: 320px;
}
.modal-station-product .product-content .growing-season h2::before {
	background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.9821 11.875H1.01786C0.455746 11.875 0 11.4762 0 10.9844V8.3125C0 6.34496 1.82281 4.75 4.07143 4.75H8.14286V0.890625C8.14286 0.398777 8.5986 0 9.16071 0H12.5536C13.1157 0 13.5714 0.398777 13.5714 0.890625V4.75H24.4286V0.890625C24.4286 0.398777 24.8843 0 25.4464 0H28.8393C29.4014 0 29.8571 0.398777 29.8571 0.890625V4.75H33.9286C36.1772 4.75 38 6.34496 38 8.3125V10.9844C38 11.4762 37.5443 11.875 36.9821 11.875ZM1.01786 14.25H36.9821C37.5443 14.25 38 14.6488 38 15.1406V34.4375C38 36.405 36.1772 38 33.9286 38H4.07143C1.82281 38 0 36.405 0 34.4375V15.1406C0 14.6488 0.455746 14.25 1.01786 14.25Z' fill='%235FA65A'/%3E%3Cg clip-path='url(%23clip0_2947_4725)'%3E%3Cpath d='M23.6424 20.3416C23.8993 20.0824 24.2483 19.9353 24.6133 19.9327C24.9782 19.93 25.3294 20.0718 25.59 20.3273C25.8506 20.5827 25.9996 20.931 26.0043 21.2959C26.0089 21.6608 25.8689 22.0127 25.6149 22.2748L18.2649 31.4632C18.1387 31.5991 17.9863 31.7083 17.8169 31.784C17.6476 31.8598 17.4647 31.9006 17.2791 31.9041C17.0936 31.9076 16.9093 31.8737 16.7372 31.8044C16.5651 31.7351 16.4087 31.6318 16.2774 31.5007L11.4043 26.6294C11.1453 26.3704 10.9999 26.019 11 25.6527C11.0001 25.2864 11.1457 24.9351 11.4048 24.6762C11.6639 24.4172 12.0152 24.2718 12.3815 24.2719C12.7478 24.272 13.0991 24.4176 13.3581 24.6766L17.2121 28.5316L23.6059 20.3848C23.6175 20.3699 23.63 20.3558 23.6434 20.3426L23.6424 20.3416Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2947_4725'%3E%3Crect width='15' height='15' fill='white' transform='translate(11 19)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.modal-station-product .product-content .growing-type h2::before {
	background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 7.125C10.7136 7.125 3.52925 11.951 0 19C3.52925 26.049 10.7136 30.875 19 30.875C27.2864 30.875 34.4707 26.049 38 19C34.4707 11.951 27.2864 7.125 19 7.125ZM28.3694 13.4235C30.6019 14.8485 32.4948 16.7556 33.915 19C32.4948 21.2467 30.6019 23.1539 28.3694 24.5765C25.5645 26.3649 22.325 27.3125 19.0024 27.3125C15.6798 27.3125 12.4403 26.3672 9.633 24.5765C7.4005 23.1515 5.50763 21.2444 4.08737 19C5.50763 16.7533 7.4005 14.8461 9.633 13.4235C9.77788 13.3309 9.92513 13.2406 10.0724 13.1528C9.70188 14.1669 9.5 15.2618 9.5 16.4041C9.5 21.6505 13.7536 25.9041 19 25.9041C24.2464 25.9041 28.5 21.6505 28.5 16.4041C28.5 15.2618 28.2981 14.1669 27.9276 13.1528C28.0749 13.2406 28.2221 13.3309 28.367 13.4235H28.3694ZM19 15.4375C19 17.404 17.404 19 15.4375 19C13.471 19 11.875 17.404 11.875 15.4375C11.875 13.471 13.471 11.875 15.4375 11.875C17.404 11.875 19 13.471 19 15.4375Z' fill='%235FA65A'/%3E%3C/svg%3E");
}
body .modal-station-product .product-content .destaque h2::before {
	background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.4167 4.75H29.5556V1.78125C29.5556 0.794141 28.8497 0 27.9722 0H10.0278C9.15035 0 8.44444 0.794141 8.44444 1.78125V4.75H1.58333C0.705903 4.75 0 5.54414 0 6.53125V10.6875C0 13.3371 1.48438 16.0609 4.08368 18.1613C6.16181 19.8461 8.68854 20.9148 11.3406 21.2563C13.4122 25.123 15.8333 26.7188 15.8333 26.7188V32.0625H12.6667C10.3378 32.0625 8.44444 33.5988 8.44444 36.2188V37.1094C8.44444 37.5992 8.80069 38 9.23611 38H28.7639C29.1993 38 29.5556 37.5992 29.5556 37.1094V36.2188C29.5556 33.5988 27.6622 32.0625 25.3333 32.0625H22.1667V26.7188C22.1667 26.7188 24.5878 25.123 26.6594 21.2563C29.3181 20.9148 31.8448 19.8461 33.9163 18.1613C36.509 16.0609 38 13.3371 38 10.6875V6.53125C38 5.54414 37.2941 4.75 36.4167 4.75ZM6.55104 14.3094C4.94132 13.0031 4.22222 11.5484 4.22222 10.6875V9.5H8.45764C8.52361 11.9195 8.84028 14.0422 9.30208 15.8977C8.3059 15.5117 7.37569 14.9773 6.55104 14.3094ZM33.7778 10.6875C33.7778 11.8824 32.6101 13.3668 31.449 14.3094C30.6243 14.9773 29.6875 15.5117 28.6913 15.8977C29.1531 14.0422 29.4698 11.9195 29.5358 9.5H33.7778V10.6875Z' fill='%235FA65A'/%3E%3C/svg%3E");
}
.row.resistances{
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 20px 0;
}
.row.resistances h3{
	background: #EAEAEA;
	border-radius: 30px;
	padding: 7px 20px;
	line-height: 1em;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: #444444;
	display: inline-block;
	width: auto;
	margin-bottom: 20px
}
.row.resistances ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.row.resistances ul li{
	margin: 0 0 10px;
	padding: 0;	
}
.row.resistances ul li:last-child{
	margin-bottom: 0;
}
.row.resistances ul li p{
	margin-bottom: 0;
}
.row.resistances ul.resistance-levels li.resistance-level-high p::before,
.row.resistances ul.resistance-levels li.resistance-level-moderate p::before{
	display: inline-block;
	vertical-align: middle;
	content: "";
	width: 90px;
	height: 25px;
	margin-right: 10px;
	background-image: url('https://sakataifield.com.br/wp-content/uploads/2022/06/resistance-high.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.row.resistances ul.resistance-levels li.resistance-level-moderate p::before{
	background-image: url('https://sakataifield.com.br/wp-content/uploads/2022/06/resistance-moderate.png');
}
.resistances-legend {
	font-size: 12px;
	border: 0!important;
}
.resistances-legend .resistance-levels{
	font-weight: bold;
	font-style: italic;
}
body .row.resistances.resistances-legend .resistance-levels p::before{
	width: 57px!important;
	height: 16px!important;
	background-size: 100% auto!important;
}

.shop-table-marketplace .product-name[data-condition]::before,
.shop-table-marketplace .product-thumbnail[data-condition]::before,
.sakataifield-wishlist-form .shop_table .product-name[data-condition]::before,
.sakataifield-wishlist-form .shop_table .product-thumbnail[data-condition]::before {
    position: absolute;
    top: 50%;
    left: calc(181px + 22.3%);
    display: block;
    width: 97px;
    height: 97px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    background-image: url('https://sakataifield.com.br/wp-content/uploads/2022/06/seal-condiciones-especiales.svg');
    transform: translateY(-50%);
    content: ""
}

.shop-table-marketplace .product-thumbnail[data-condition]::before,
.sakataifield-wishlist-form .shop_table .product-thumbnail[data-condition]::before {
	display: none;
}
.wpml-lang-pt-br .shop-table-marketplace .product-name[data-condition]::before,
.wpml-lang-pt-br .shop-table-marketplace .product-thumbnail[data-condition]::before
.wpml-lang-pt-br .shop-table-marketplace .product-name[data-condition]::before,
.wpml-lang-pt-br .shop-table-marketplace .product-thumbnail[data-condition]::before,
.wpml-lang-pt-br .sakataifield-wishlist-form .shop_table .product-name[data-condition]::before,
.wpml-lang-pt-br .sakataifield-wishlist-form .shop_table .product-thumbnail[data-condition]::before
.wpml-lang-pt-br .sakataifield-wishlist-form .shop_table .product-name[data-condition]::before,
.wpml-lang-pt-br .sakataifield-wishlist-form .shop_table .product-thumbnail[data-condition]::before {
	background-image: url('https://sakataifield.com.br/wp-content/uploads/2022/06/seal-condicoes-especiais.svg');
}

.swiper .swiper-slide-inner{
	background-color: white!important;
	text-align: center;
}
.swiper .swiper-slide-inner img{
	margin: auto;
	display: block;
	max-height: 400px;
	width: auto;
}
.swiper .swiper-slide-inner .cs-video{
	text-align: left;
}

.mobile-only{
	display: none;
}

#nav-product_cat [data-count="0"]{
	display: none;
}

.shop_table .product-name[data-discount]::before{
	left: auto!important;
	right: 0;
}

.wishlist-title-back .wishlist-btn-load-view-container{
	padding: 0 calc(0.5rem + 0.9375rem);
    margin-bottom: 20px;
	text-align: right;
}
.wishlist-title-back .wishlist-btn-load-view-container button{
	margin-right: 4px;
}

.wishlist-title-back[data-view="view"] .wishlist-btn-load-view-container{
	padding: 0;
}
body .add_to_wishlist_button,
body .add_to_wishlist_button.loading{
	top: 20px;
    right: 15px;
    padding: 12px 10px 8px;
}

body .add_to_wishlist_button::before,
body .add_to_wishlist_button.loading::before{
	width: 30px;
	height: 30px;
}
body #nav-product_cat .nav-float.collapsed .nav-link span{
	padding: 5px;
}
body #nav-product_cat .nav-float.collapsed .nav-link span img{
	width: 50px;
	height: 50px;
}
body .modal-station-product #nav-product_cat .level-0 .dropdown-item .thumbnail{
	height: 100px;
}
body .modal-station-product #nav-product_cat .level-1 .dropdown-item .thumbnail{
	height: 85px;
}	
body .modal-station-product #nav-product_cat li[data-type="product"] .dropdown-item .thumbnail img{
	width: auto;
	max-width: 90px;
}
body .modal-station [data-discount][data-discount-slug="condiciones-especiales"]::before{
	font-size: 12px;
	padding-right: 10px;
}
@media (min-width: 768px) {

	body .modal-station .modal-body{
		padding-top: 16px;
		padding-bottom: 16px;
	}

	body .modal-station .dropdown-item{
		flex-direction: row;
	}
	body .modal-station-product .dropdown-item{
		flex-direction: column;
	}
	body .modal-station .dropdown-item span,
	body .modal-station .dropdown-item .title,
	body .modal-station .dropdown-item .thumbnail{
		width: 100%;
		text-align: center;
		white-space: normal;
		display: block;
	}

	body .modal-station .dropdown-menu li{
		margin-bottom: 20px;
	}

	.wishlist-info{
		display: none;
	}

	#nav-product_cat .nav-item .nav-link>span>img{
  		width: 50px;
  		height: 50px;
  	}
  	#nav-product_cat.collapsed .nav-link span{
  		padding: 5px;
  	}

}

@media (min-width: 768px) and (max-width: 1440px) {

	body .modal-wishlist .modal-title{
		font-size: 24px;
	}

	body .modal-wishlist .modal-subtitle{
		font-size: 20px;
	}

	body .wishlist-load-view{
		font-size: 20px;
	}

	body .modal-wishlist .modal-header::before{
		width: 60px;
		height: 60px;
	}

	body .modal-wishlist .modal-header{
		padding-left: 140px;
	}

	body .modal-station-mini .modal-dialog{
		margin: auto auto 20px 20px;
	}

	body .modal-stand-preview .modal-subtitle,
	body .modal-station-mini .modal-title .text-muted{
		font-size: 18px;
	}

	body .modal-station .button{
		font-size: 18px;
	}

	body .modal-station-mini .swiper-slide-inner img{
		max-height: 180px;
	    width: auto;
	    left: 50%;
	    transform: translateX(-50%);
	}
	body .modal-station-mini .swiper-slide-inner.ratio-5x3{
		--sakataifield-aspect-ratio: calc(200 / 370 * 100%);
	}
	body #onboarding-stream{
		max-height: 60vh;
	}

}

@media (max-width: 1023px) {
	.btn-wishlist-buy{
		font-size: 16px;
	}
}
@media (max-width: 767.98px) {
	body .species-products a, 
	body .species-products button{
		padding: 10px;
		justify-content: center;
		font-size: 14px;
	}
	body .modal-station-product .selos img{
		max-height: 170px
	}
	body .swiper-thumbs .ratio-5x3{
		--sakataifield-aspect-ratio: calc(122 / 210 * 100%);
	}
	#menuCarousel .species-products .thumbnail{
		overflow: initial;
		height: 65px
	}
	#menuCarousel .species-products .thumbnail::before{
		display: none;
	}
	#menuCarousel .species-products .thumbnail img{
		position: relative;
		top: auto;
		left: auto;
		-webkit-transform: none;
		transform: none;
		height: 65px;
		width: auto;
	}
	#menuCarousel .species-products a div:not(.thumbnail), 
	#menuCarousel .species-products button div:not(.thumbnail){
		line-height: 1.1em;
	}
}
@media (max-width: 480px) {

	body .modal-station-mini .modal-dialog{
		max-width: 340px;
	    position: fixed;
	    top: auto;
	    bottom: 0;
	    width: 100%;
	    margin: 0px auto 40px auto;
	    left: 50%;
	    transform: translateX(-50%)!important;
	}

	body .modal-station .button{
		font-size: 16px;
	}

	body .shop_table small{
		font-size: 14px;
	}

	.btn-wishlist-buy{
		font-size: 14px;
	}

	.station-slider-product-buttons .btn-back-field{
		margin-bottom: 20px;
		width: 264px
	}
	.product-info{
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	body .modal-station [data-discount][data-discount-slug="condiciones-especiales"]::before{
		font-size: 10px
	}

}

@media (max-width: 480px) {
	.product-buy-marketplace{
		padding-right: 0.5rem;
	}
	.product-buy-marketplace,
	.product-buy-marketplace a{
		width: 100%!important;
		text-align: center;
	}
	.product-buy-marketplace a{
		margin-left: 0!important
	}
	.shop-table-marketplace tbody tr{
		margin-bottom: 20px;
	}
}

@media (max-width: 767.98px) {

	.sakataifield .wishlist-btn-load-view-container .wishlist-load-view{
		font-size: 16px;
	}

	.shop-table-marketplace .product-name[data-discount]::before{
		display: none!important
	}

	.wishlist-archive-table{
		padding: 5px;
	}

	.wishlist-archive-table tbody td,
	.wishlist-archive-table tbody td .open-wishlist{
		width: 100%;
	}

	.wishlist-form-header-title{
		margin-bottom: 25px;
	}

	.mobile-only{
		display: initial;
	}

	.desktop-only{
		display: none;
	}

	.sakataifield .wishlist-view-modified{
		text-align: left;
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 14px;
	}

	.sakataifield .wishlist-specialist > a{
		padding: 12px 20px 12px 20px
	}

	.sakataifield .wishlist-archive-table tr{
		padding-bottom: 10px;
	}

	.sakataifield .wishlist-title,
	.sakataifield .wishlist-card-specialist strong,
	.sakataifield .wishlist-default-title{
		font-size: 20px;
	}

	.sakataifield .wishlist-row-send{
		margin-bottom: 15px;
	}

	.wishlist-row-send-mobile button{
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.wishlist-btn-load-view-container .wishlist-btn{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.sakataifield .btn-wishlist-archive{
		background: transparent;
		color: #048d38;
	}

	.sakataifield .btn-wishlist-archive:hover{
		background: #048d38;
	}

	body .species-products a, 
	body .species-products button{
		white-space: normal;
		width: 100%;
	}
	body .species-products a div, 
	body .species-products button div{
		width: 100%;
		text-align: center;
	}

	.shop-table-marketplace .product-thumbnail[data-discount]::before,
	.sakataifield-wishlist-form .shop_table .product-thumbnail[data-discount]::before{
		position: absolute;
	    top: -20px;
	    left: -20px;
	    display: block;
	    width: 171px;
	    padding: 0 4px 8px 0;
	    font-size: 100%;
	    line-height: 40px;
	    color: #fff;
	    text-align: center;
	    content: attr(data-discount);
	    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 171 48'%3e%3cg filter='url%28%23a%29'%3e%3cpath fill='%23fcc009' d='M167 0H4.453L4 19.974l.453 19.974H167l-12.079-19.974L167 0Z'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='a' width='171' height='47.948' x='0' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3e%3cfeOffset dy='4'/%3e%3cfeGaussianBlur stdDeviation='2'/%3e%3cfeComposite in2='hardAlpha' operator='out'/%3e%3cfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3e%3cfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_349_1773'/%3e%3cfeBlend in='SourceGraphic' in2='effect1_dropShadow_349_1773' result='shape'/%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: 171px 48px;
	    transform: scale(0.7);	
	    z-index: 10
	}
	.shop-table-marketplace .product-thumbnail[data-discount]::before{
		top: -24px;
	}

	.shop-table-marketplace .product-name{
		align-self: center;
	}

	.shop-table-marketplace .shop_table .product-name::before,
	.sakataifield-wishlist-form .shop_table .product-name::before{
		display: none!important;
	}

	body .modal-wishlist .modal-header{
		padding: 20px;
	}

	body .modal-wishlist .modal-header::before{
  		content: none;
  	}
  	.modal-wishlist .modal-title{
  		font-size: 20px;
  	}
  	.modal-wishlist .modal-subtitle{
  		font-size: 16px;
  		font-weight: normal;
  	}
  	.modal-wishlist .modal-dialog{
  		margin: 0;
  	}

  	.shop-table-marketplace .product-thumbnail[data-condition]::before,
  	.sakataifield-wishlist-form .shop_table .product-thumbnail[data-condition]::before{
  		top: -30px;
  		transform: none;
  		left: -20px;
  		transform: scale(0.5);
  		display: block;
  	}
  	.shop_table .remove{
  		transform: scale(0.7);	
  	}
  	.sakataifield-wishlist-form .shop_table .product-name{
  		align-self: flex-end;
  	}

  	.modal-wishlist .sakatito{
  		padding: 20px;
  	}

  	.modal-wishlist .sakatito img{
  		max-width: 80px;
  		height: 100px;
  		flex: 1;
  		width: auto;
  	}
  	.modal-wishlist .sakatito .popover{
  		flex: 1;
  	}
  	.modal-wishlist .sakatito .popover-body::before{
  		width: 50px;
  		height: 50px;
  		margin-bottom: 10px;
  	}
  	.modal-wishlist .sakatito .popover strong{
  		font-size: 16px;
  		line-height: 1.2em;
  	}
  	.empty-p{
  		margin-top: 15px;
  	}
  	.btn-wishlist-archive,
  	.btn-wishlist-back{
  		width: 100%;
  		padding-top: 10px;
  		padding-bottom: 10px;
  	}
  	.wishlist-card-specialist-button{
  		margin-top: 30px!important;
	    text-align: center;
	    width: 100%!important;
  	}
  	.wishlist-card-specialist-button .btn-wishlist-email{
  		padding: 10px 20px;
  	}
}


/* 
	Workaround for products showing on wrong language.
 	Best alternative, sync tax posts lang on WPML support page
 */
/* BETERRAGA KESTREL */
.wpml-lang-pt-br .dropdown-item[data-id="26339"]{
	display: none;
}