#modal-agenda-tvifield .tvifield-remove-filters{
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
	display: inline-block;
}
#modal-agenda-tvifield .tvifield-remove-filters span{
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	background: grey;
	color: white;
	padding: 0 8px 0 6px;
	margin-left: 10px;
	border-radius: 8px;
}
#modal-agenda-tvifield .tvifield-remove-filters:hover{
	text-decoration: underline;
}
.video-list .video-item{
	display: block;
}
#load-page .bg-page-ifieldtv .img-logo-ifieldtv img{
	opacity: 0;
	transition: 2000ms opacity;
}
#load-page .bg-page-ifieldtv .img-logo-ifieldtv.active img{
	opacity: 1
}

#load-page .bg-page-ifieldtv {
	display: flex;
	justify-content: center;
	position: relative;
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(180deg, rgba(9, 34, 107, 0.6) 0%, rgba(46, 46, 46, 0.6) 100%), url('../img/bg-ifieldtv.png');
	background-size: cover;
	z-index: 1;
}

#load-page .bg-page-ifieldtv .img-logo-ifieldtv {
	justify-content: center;
	display: flex;
	align-items: center;
	align-content: center;
}

#load-page .bg-page-ifieldtv .img-logo-ifieldtv img {
	max-width: 80%;
}

#load-page .footer-tvifield {
	background-color: #ED3A37;
	padding: 0.6% 0% 0.6% 0%;
	width: 100%;
	bottom: 0;
	position: absolute;
	z-index: 1;
}

#load-page .footer-tvifield .logo-sakata {
	text-align: center;
}

#header-tvifield .modal-header {
	border-radius: 0px 0px 20px 20px;
	padding: 0px;
	background-color: #EAEAEA;
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 0;
	display: none;
}

#header-tvifield .btn-close {
	background-color: #444444;
	border: 0;
	opacity: 1;
	border-radius: 30px;
	font-size: 12px;
	position: absolute;
	top: 30px;
	right: 25px;
	width: 40px;
	height: 40px;
}

#header-tvifield .btn-close:focus {
	box-shadow: none;
	border: none;
}

#header-tvifield .btn-close:target {
	box-shadow: none;
	border: none;
	color: #FFF;
}

#header-tvifield .btn-close:active {
	box-shadow: none;
	border: 0;
	color: #FFF;
}

#header-tvifield .btn-close span {
	position: absolute;
    font-size: 30px;
    top: 2px;
    left: 11px;
    transform: translateY(50%);
}

#header-tvifield .modal-title {
	display: flex;
	flex-direction: column;
	padding-left: 3%;
	padding-top: 1%;
}

#header-tvifield .modal-title h3 {
	font-size: 25px;
	color: #444444;
	font-weight: 600;
	margin-bottom: 0px;
}

#header-tvifield .modal-title p {
	color: #ACACAC;
	font-weight: 600;
}

#modal-tvifield .modal-body-player {
	padding: 5%;
	margin-top: 5%;
	background-image: linear-gradient(180deg, rgba(38, 51, 90, 0.6) 12.3%, rgba(0, 0, 0, 0.6) 85.92%), url("../img/bg-ifieldtv.png");
	background-size: cover;
	position: relative;
	min-height: 100vh;
    height: 100%;
}

#modal-tvifield .modal-body-player .video-header {
	background-color: white;
	display: flex;
	border-radius: 12px 12px 0px 0px;
	padding: 2% 0 0 0;
	margin: 0 3%;
}

#modal-tvifield .modal-body-player .video-header .video-title {
	font-size: 21px;
	font-weight: 600;
	color: #444444;
	margin: 0px;
	padding: 0% 0% 0% 3%;
}

#modal-tvifield .modal-body-player .video-header .palestrante-title {
	color: #444444;
	margin-left: 1%;
	font-size: 16px;
	padding-left: 0px;
	margin-bottom: 0px;
	margin-top: 2px;
}

#modal-tvifield .modal-body-player .video-player {
	background-color: #FFF;
	display: flex;
	justify-content: center;
	padding: 3%;
	border-radius: 12px;
}

#modal-tvifield .modal-body-player .video-player iframe {
	width: 100%;
	height: 400px;
}
/* Modal tvifield agenda */
#modal-tvifield .modal-body-player .content-box-agenda {
	background-color: #5FA65A;
	display: flex;
	align-items: center;
	padding: 1% 2%;
	border: 1px solid #5FA65A;
	border-radius: 5px;
	margin: 3% 0;
}

#modal-tvifield .modal-body-player .content-box-agenda .agenda-title {
	color: #FFF;
	font-weight: 600;
	font-size: 18px;
	padding-left: 2%;
	margin: 0px;
}

#modal-tvifield .modal-body-player .content-box-agenda:hover {
	background-color: #ffffff00!important;
	border: 1px solid white;
	cursor: pointer;
}

#modal-tvifield .modal-body-player .content-box-agenda:hover .agenda-title {
	color: white;
}

#modal-tvifield .modal-body-player .content-box-call-expert {
	background-color: #444444;
	display: flex;
	align-items: center;
	align-content: center;
	padding: 0% 0% 0% 5%;
	border-radius: 8px;
	height: 120px;
}

#modal-tvifield .modal-body-player .content-box-call-expert .expert-title {
	color: #D6AC0C;
	font-weight: 600;
	margin-bottom: 0px;
	font-size: 22px;
}

#modal-tvifield .modal-body-player .content-box-call-expert .expert-description {
	color: white;
	font-size: 18px;
}

#modal-tvifield .modal-body-player .btn-call-expert {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-decoration: none;
}

#modal-tvifield .modal-body-player .btn-call-expert .name-expert {
	background-color: #D6AC0C;
	padding: 12px 36px;
	margin-left: -21px;
	color: #FFF;
	border-radius: 4px;
}

#modal-tvifield .modal-body-player .btn-call-expert .name-expert:hover {
	background-color: #ACACAC;
	color: #FFF;
}

#modal-tvifield .modal-body-player .btn-call-expert .img-expert {
	z-index: 1;
	margin-bottom: 2%;
	width: 62px;
	height: 62px;
	object-fit: cover;
	border-radius: 50%;
}

#modal-tvifield .modal-body-player .all-video-list .video-list-header {
	background-color: #D6AC0C;
	padding: 4%;
	border-radius: 12px 12px 0px 0px;
	margin-right: 5%;
}

#modal-tvifield .modal-body-player .all-video-list .video-list-header .video-list-title {
	font-size: 20px;
	color: #FFF;
	font-weight: 600;
}

#modal-tvifield .modal-body-player .all-video-list .video-list {
	background-color: #FFF;
	border-radius: 12px;
	padding: 6%;
	margin-top: -8px;
}

#modal-tvifield .modal-body-player .all-video-list .video-box {
	display: flex;
	padding: 2% 0%;
}

#modal-tvifield .modal-body-player .all-video-list .video-box .content-video-list {
	padding: 0% 3%;
}

#modal-tvifield .modal-body-player .all-video-list .video-box .content-video-list .video-list-name {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 4px;
	line-height: 18px;
	margin-top: 0px;
}

#modal-tvifield .modal-body-player .all-video-list .video-box .content-video-list .palestrante-name {
	font-size: 14px;
	line-height: 16px;
}

#modal-tvifield .modal-body-player .all-video-list .video-box .img-video-thumb {
	max-width: 100%;
	max-height: 86px;
	object-fit: cover;
	border-radius: 3px;
}

#modal-agenda-tvifield .modal-body-agenda {
	padding: 5%;
	margin-top: 5%;
	background-image: linear-gradient(180deg, rgba(38, 51, 90, 0.6) 12.3%, rgba(0, 0, 0, 0.6) 85.92%), url("../img/bg-ifieldtv.png");
	background-size: cover;
	position: relative;
	height: 100%;
	min-height: 100vh
}

#modal-agenda-tvifield .modal-body-agenda > .container{
	max-width: 1040px;
}

#modal-agenda-tvifield .modal-body-agenda .container .row {
	justify-content: center;
}

#modal-agenda-tvifield .agenda-header {
	background-color: #5FA65A;
	display: flex;
	border-radius: 12px 12px 0px 0px;
	padding: 2% 0 0 0;
	margin: 0 3%;
	align-items: center;
}

#modal-agenda-tvifield .modal-body-agenda .agenda-header .img-icon-agenda {
	height: 100%;
	width: auto;
	padding-left: 3%;
}

#modal-agenda-tvifield .modal-body-agenda .agenda-header .title-agenda {
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding-left: 3%;
}

#modal-agenda-tvifield .modal-body-agenda .agenda-header .title-agenda h4 {
	font-weight: 600;
	font-size: 22px;
	margin: 0;
}

#modal-agenda-tvifield .modal-body-agenda .list-events {
	background-color: #FFF;
	border-radius: 12px;
	padding: 3%;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda {
	border-color: white;
	max-width: 100%;
	box-shadow: 0px 12px 24px rgb(0 0 0 / 16%);
	border-radius: 12px;
	background-color: #FFF;
	padding: 0px 10px 0px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3%;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .col-info {
	display: flex;
	justify-content: center;
	align-items: center;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .col-info .col-date-card {
	display: flex;
	justify-content: center;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .col-agendamentos {
	margin-left: 5%;
	text-align: right;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .date-day {
	font-size: 20px;
	margin: 0px;
	line-height: 16px;
	font-weight: 600;
	color: #444444;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .date-month {
	font-size: 15px;
	color: #444444;
	font-weight: 400;
	line-height: 25px;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .date-hour {
	font-size: 14px;
	color: #444444;
	font-weight: 400;
	line-height: 20px;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .btn-agenda {
	text-decoration: none;
	color: #FFF;
	background-color: #048D38;
	border-radius: 3px;
	padding: 12px 20px;
	font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .btn-agenda.cancel {
	background-color: #acacac;
	border-color: #acacac;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .btn-agenda.loading {
	background-color: #FAFAFA;
	border-color: #FAFAFA;
	position: relative;
	text-indent: -9999px;
	color: #acacac;
	width: 100%;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .btn-agenda.loading::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	background: url('../img/spinner.svg') center / cover no-repeat;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .btn-agenda:hover {
	cursor: pointer;
	background-color: #048d38cb;
	color: #FFF;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .card-body {
	padding: 1rem 0%;
	min-width: 369px;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .card-body .card-title {
	font-size: 15px;
	font-weight: 600;
	color: #444444;
	margin: 3px;
	line-height: 16px;
}

#modal-agenda-tvifield .modal-body-agenda .list-events .title-list-events {
	font-size: 22px;
	font-weight: 600;
	color: #444444;
	padding: 1% 0%;
}
/* Mobile tvifield */
@media (max-width: 600px) {
	#header-tvifield .modal-title {
		padding-left: 5%;
	}

	#header-tvifield .modal-title h3 {
		font-size: 24px;
		padding-top: 5%;
	}

	#modal-tvifield .modal-body-player {
		padding: 25% 3% 10% 3%;
	}

	#modal-tvifield .modal-body-player .video-header {
		margin: 0;
		flex-direction: column;
	}

	#modal-tvifield .modal-body-player .video-player iframe {
		width: 100%;
		height: 300px;
	}

	#modal-tvifield .modal-body-player .video-header .video-title {
		padding: 3% 0% 0% 3%;
	}

	#modal-tvifield .modal-body-player .video-header .palestrante-title {
		padding: 0% 0% 0% 3%;
		margin-bottom: 3%;
	}

	#modal-tvifield .modal-body-player .video-player {
		margin-top: -10px;
	}

	#modal-tvifield .modal-body-player .content-box-agenda {
		padding: 3% 5%;
		margin: 10% 0;
	}

	#modal-tvifield .modal-body-player .content-box-agenda .agenda-title {
		line-height: 20px;
		padding-left: 6%;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .date-day {
		line-height: 21px;
	}

	#modal-tvifield .modal-body-player .content-box-call-expert {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		text-align: center;
		padding: 3%;
		margin-bottom: 10%;
		height: 180px;
	}

	#modal-tvifield .modal-body-player .all-video-list .video-list-header {
		margin-right: 0%;
	}

	#modal-tvifield .modal-body-player .all-video-list .video-list {
		border-radius: 0px 0px 12px 12px;
	}

	#modal-agenda-tvifield .modal-body-agenda {
		padding: 0 0 40px;
	}

	#modal-agenda-tvifield .modal-body-agenda .content-agenda {
		margin: 20% 20px 0% 20px;
	}

	#modal-agenda-tvifield .agenda-header {
		margin: 5% 0% 0% 0%;
		padding: 2%;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events {
		background-color: #FFF;
		border-radius: 0px 0px 12px 12px;
		margin-top: -10px;
	}

	#modal-agenda-tvifield .modal-body-agenda .agenda-header .title-agenda h4 {
		font-size: 18px;
	}

	#modal-agenda-tvifield .modal-body-agenda .agenda-header .title-agenda p {
		font-size: 14px;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events .title-list-events {
		font-size: 20px;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda {
		flex-direction: column;
		padding: 10px;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .card-body {
		padding: 6% 1% 1% 10%;
		min-width: 100%;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .col-date-card {
		padding-left: 5%;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .btn-agenda {
		border-radius: 3px;
		padding: 2%;
		display: flex;
		width: 100%;
		justify-content: center;
		margin-bottom: 2%;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .date-month {
		font-size: 13px;
		line-height: 24px;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .col-agendamentos {
		justify-content: end;
		padding-right: 0;
		margin-left: 0;
		display: flex;
	}
}

@media screen and (min-device-width: 601px) and (max-device-width: 1025px) {
	#modal-tvifield .modal-body-player {
		padding: 12% 3% 10% 3%;
	}

	#modal-tvifield .modal-body-player .video-header .video-title {
		padding: 0% 0% 0% 2%;
	}

	#modal-tvifield .modal-body-player .video-header {
		padding: 2% 0 1% 0;
		margin: -1% 3%;
		flex-direction: row;
	}

	#modal-tvifield .modal-body-player .video-header .palestrante-title {
		padding: 0%;
	}

	#modal-tvifield .modal-body-player .content-box-agenda {
		margin: 3% 0%;
	}

	#modal-tvifield .modal-body-player .content-box-call-expert {
		margin: 3% 0%;
	}

	#modal-tvifield .modal-body-player .btn-call-expert .name-expert {
		padding: 12px 36px;
	}

	#modal-tvifield .modal-body-player .video-content {
		padding: 0% 2%;
	}

	#modal-tvifield .modal-body-player .content-box-call-expert {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		height: 180px;
	}

	#modal-tvifield .modal-body-player .btn-call-expert .img-expert {
		margin-bottom: 1%;
		width: 80px;
		height: 80px;
	}

	#modal-tvifield .modal-body-player .all-video-list .video-list {
		padding: 4%;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .col-info {
		width: 85%;
	}

	#modal-agenda-tvifield .modal-body-agenda .list-events .card-agenda .btn-agenda {
		margin-top: 2%;
	}
}

@media screen and (min-device-width: 1500px) {
	#modal-tvifield .modal-body-player .btn-call-expert .img-expert {
		width: 62px;
		height: 62px;
	}

	#modal-tvifield .modal-body-player .btn-call-expert .name-expert {
		padding: 12px 36px;
	}

	#modal-tvifield .modal-body-player {
		margin-top: 3%;
	}

	#modal-agenda-tvifield .modal-body-agenda {
		margin-top: 3%;
	}
}